

<div class="content1">
    <div class="container1">
        <div *ngFor="let content of content1; index as i;" class="item top" (click)="getAllProducts(content.key)"
            [ngStyle]="{'background-image': 'url(' + '../../../assets/img/home/' + content.imageuri +'.jpg'+')'}">
            <div class="card_body">
                {{content.name}}
            </div>
        </div>
    </div>
</div>

<div class="content2 middle">
    <div class="container">
        <div class="item" *ngFor="let product of products; index as i;">
            <div class="card_head" [ngStyle]="{'background-image': 'url(' + baseUri  + product.product_imageuri +')'}">
                <div class="surprise-bubble"><span class="dress-card-heart">
                        <i class="fas fa-heart"></i>
                    </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="card_body">
                <div class="p_name">
                    {{product.product_name}}
                </div>
                <div *ngIf="product.isPromo" class="p_price">
                    <span class="promo_price">RS: {{product.product_promo_price}}.00</span>
                    <span class="none_price">RS: {{product.product_price}}.00</span>
                </div>
                <div *ngIf="!product.isPromo" class="p_price">
                    <span class="promo_price">RS: {{product.product_price}}.00</span>
                </div>
                <!-- <button class="select_btn" (click)="openChild(product)">Select</button> -->
            </div>
            <div *ngIf="product.isPromo" class="promo_label">
                <p>-{{showPromoPresentage(product)}}%</p>
            </div>
        </div>
    </div>
</div>